PROJECT_NAME=project
NGINX_VIRTUAL_HOST=project.dev.local
NGINX_ERROR_LOG=/var/log/nginx/error.log
NGINX_ACCESS_LOG=/var/log/nginx/access.log
MYSQL_DATABASE=db
MYSQL_USER=user
MYSQL_PASSWORD=userpw
MYSQL_ROOT_PASSWORD=rootpw
PHP_INI_UPLOAD_SIZE=1024M
PHP_INI_SMTP=localhost
PHP_INI_SMTP_PORT=25
PHP_INI_MEMORY_LIMIT=1024M
PHP_INI_MAX_INPUT_TIME=70
PHP_INI_MAX_EXECUTION_TIME=60
COLLABORA_ADMIN=admin
COLLABORA_PASSWORD=pass
COLLABORA_URL=collabora.dev.local
UID=33
GID=33
REDIS_PASSWORD=changeme
WHITEBOARD_SECRET=some-random-string-here
